In [2]:
import pandas as pd

# Dosya yolları
market_path = "data/combined/market_data_interpolated.csv"
news_path = "data/news/processed/nyt_daily_filtered.csv"

# Veri setlerini oku
market_df = pd.read_csv(market_path, parse_dates=["Date"], index_col="Date")
news_df = pd.read_csv(news_path, parse_dates=["date"], index_col="date")

news_df.index.name = "Date"  # İki index de artık "Date"

In [3]:
# Tarih bazında birleştirme
combined_df = market_df.join(news_df, how="left")

# Sonuç
combined_df.head()

,Disney,Microsoft,Walmart,Google,Exxon Mobil,Apple,Intel,JP Morgan,Johnson & Johnson,Coca-Cola,NASDAQ Composite,Dow Jones,S&P 500,Fed Funds Rate,Oil,Gold,10Y Treasury,EUR-USD,USD-JPY,news_text
Date,,,,,,,,,,,,,,,,,,,,
2004-08-19,17.806047,16.771729,12.069075,2.496041,22.676308,0.461482,12.699708,21.737772,31.452284,11.786804,1819.890015,10040.820312,1091.229980,1.442,48.700001,407.100006,4.211,1.237195,109.360001,Democrats' Legal Challenges Impede Nader Campa...
2004-08-20,17.837843,16.821201,12.022876,2.694301,22.756765,0.462834,12.474672,22.109600,31.596300,11.837681,1838.020020,10110.139648,1098.349976,1.454,47.860001,413.200012,4.231,1.232195,109.110001,7 More Managers Fired Over Nortel Accounting W...
2004-08-23,17.623217,16.895638,11.835877,2.721417,22.626007,0.467042,12.630469,22.052399,31.601843,11.872483,1838.699951,10073.049805,1095.680054,1.477,46.049999,410.500000,4.279,1.215200,109.739998,More Reserve Training Set As Result of Abuse I...
2004-08-24,17.734505,16.895638,11.849078,2.608728,22.555599,0.480116,12.503527,22.075277,31.668293,11.786804,1836.890015,10098.629883,1096.189941,1.517,45.209999,403.000000,4.283,1.208196,109.690002,National Briefing Names of the Dead Metro Brie...
2004-08-25,17.885534,17.087910,11.901878,2.636839,22.726597,0.496646,12.665086,22.561522,31.939745,11.872483,1860.719971,10181.740234,1104.959961,1.512,43.470001,407.899994,4.261,1.208605,110.099998,9/11 Panel Leader Has Praise for Plan to Split...

In [5]:
combined_df.to_csv("data/final_dataset.csv")
print("✅ Birleştirme tamamlandı ve kaydedildi.")

✅ Birleştirme tamamlandı ve kaydedildi.